html {
    color: #6e4832;
    background: #f9f5ed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    font-size: 16px;
    -webkit-font-smoothing: initial;
    text-align: center;
    padding:50px;
}

/* 标记 */
.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-align: center;
}

.admonition.warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
    text-align: center;
}

.admonition.danger {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    text-align: center;
}

.admonition.access {
    color:#e7fff1;
    background-color: #7bed9f;
    border-color: paleturquoise;
    text-align: center;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
    text-align: center;
}

/* 目录 */
.toc {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
    color: #3a87ad;
    background-color: #d9edf7;
    text-align: center;
}

hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0.8em;
    height: 10px;
}

/* 字体 */
pre, code, pre tt {
    font-family: Courier, 'Courier New', monospace;
}

/* 引用 */
blockquote {
    position: relative;
    color: rgba(146, 115, 91, 0.81);
    font-weight: 400;
    border-left: 2px solid #6e4832;
    padding-left: 1rem;
    margin: 1em 3em 1em 1em;
    background-color: #e3dbbf;
}

/* img 添加边框 */
img {
    background: white;
    border-radius: .2rem;
    padding: 0.3rem;
    box-shadow: 1px 2px 4px gray;
    text-align: center;
}



@media only screen and ( max-width: 640px ) {
    blockquote {
        margin: 1em 0;
    }
}

acronym, abbr {
    border-bottom: 1px dotted;
    font-variant: normal;
}

abbr {
    cursor: help;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: 400;
}

ul, ol {
    list-style: none;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}



sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


